.app.dark {
  --bg-color: #151619;
  --inverted-bg-color: #22242a;
  --ring-color: #33363d;
  --primary-color: #ffffff;
  --secondary-color: #4788f6;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
  --svg-color: #fff;
}
