html[data-theme='dark'] {
  --bg-color: #151619;
  --inverted-bg-color: #22242a;
  --ring-color: #d9d9d9;
  --primary-color: #ffffff;
  --secondary-color: #4788f6;
  --accent-color: #33b369;
  --inverted-secondary-color: #0452ff;
  --svg-color: #fff;
  --svg-color-hover: #d3d3d3;
}
