.app.dark {
  --bg-color: #151619;
  --inverted-bg-color: #22242a;
  --primary-color: #0072f5;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
  --svg-color: #fff;
}
