:root {
  --bg-color: #dce0e1;
  --inverted-bg-color: #fff;
  --ring-color: #c2bfbf;
  --primary-color: #000000;
  --secondary-color: #4788f6;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
  --svg-color: #000;
}
