.Root {
  position: relative;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.7rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 2px var(--primary-color);

  &:hover {
    border-width: 0;
  }

  &:checked {
    box-shadow: 0 0 0 2px var(--secondary-color);
    background-color: var(--secondary-color);
    border-width: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid var(--primary-color);
      border-radius: 0.1rem;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
